* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #143c3c;
  --color-secondary: #152427;
}

/* Common */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% -48px);
}

.btn {
  --height: 28px;
  display: inline-block;
  text-align: center;
  color: white;
  background-color: var(--color-primary);
  padding: 15px 0px;
  font-size: 1.8rem;
  font-family: "Public Sans", serif;
  font-weight: 500;
  min-width: 173px;
  line-height: var(--height);
  height: var(2 * var(--height));
  border-radius: 40px;
  border: 1.5px var(--color-primary) solid;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section-heading {
  color: var(--color-secondary);
  font-size: 4.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.23;
}

.arrow-next-icon {
  transform: rotate(180deg);
}

.section-intro::before {
  content: "";
  display: inline-block;
  position: relative;
  background: var(--color-secondary);
  width: 25px;
  height: 1px;
  bottom: 8px;
  right: 20px;
}

.section-heading::after {
  content: "";
  display: inline-block;
  position: relative;
  background: var(--color-secondary);
  width: 66px;
  height: 2px;
  left: 9px;
  bottom: 10px;
}

.section-intro {
  display: inline-block;
  position: relative;
  margin-bottom: 14px;
  color: var(--color-secondary);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  left: 20px;
}

/* Header */
.header {
  font-family: "Public Sans", serif;
  padding-top: 28px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  padding-left: 406px;
  padding-right: 88px;
}

.navbar__list {
  display: flex;
  column-gap: 38px;
}

.navbar__list::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  top: 97px;
  left: 0;
  background: linear-gradient(
    90deg,
    white 0%,
    #dddcdc 51%,
    rgba(212.5, 212.5, 212.5, 0) 100%
  );
}

.navbar__link {
  font-size: 1.6rem;
  color: #575d5e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 28px;
}

.navbar__link.active,
.navbar__link:hover {
  color: var(--color-secondary);
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link.active::after {
  content: "";
  position: relative;
  bottom: -25px;
  left: 2px;
  width: 16px;
  height: 2px;
  display: block;
  background-color: var(--color-primary);
}

/* Hero */
.hero {
  display: flex;
  margin-top: 60px;
  align-items: center;
}

.hero__content {
  width: 34%;
  flex-shrink: 0;
}

.hero__media {
  flex-grow: 1;
  position: relative;
}

.hero__heading {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.1;
  margin-right: 30px;
  color: var(--color-secondary);
}

.hero__desc {
  margin-top: 20px;
  color: #575d5e;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
}

.hero-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 42px;
}

.hero__span {
  color: var(--color-secondary);
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.67;
}

.hero__play-btn {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0;
  position: relative;
  color: #fef6fb;
  cursor: pointer;
}

.hero__play-icon {
  display: flex;
  background: #83a17d;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 43px;
  transform: rotate(45deg);
}

.hero__play-icon:hover {
  background: var(--color-primary);
}

.hero__play-half-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid;
  border-color: var(--color-primary) transparent transparent
    var(--color-primary);
  border-radius: 50%;
  width: 57px;
  height: 59px;
  transform: rotate(-45deg);
  transition: 0.5s;
}

.hero__play-half-circle:hover {
  transform: rotate(192deg);
  border-color: transparent #83a17d #83a17d transparent;
}

.hero__images {
  display: flex;
  width: 646px;
  height: 543px;
  position: relative;
  margin-left: 76px;
  gap: 20px;
}

.hero__img {
  position: absolute;
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}

.hero__media-bg {
  position: absolute;
  width: 340px;
  height: 340px;
  background: #4dbb9a;
  box-shadow: 274px 274px 274px;
  border-radius: 50%;
  filter: blur(274px);
  top: 140px;
  left: 220px;
}

.hero__media svg {
  position: absolute;
}

.hero__media svg:nth-of-type(1) {
  top: -17px;
  left: -125px;
}

.hero__media svg:nth-of-type(2) {
  top: -30px;
  left: -85px;
}

.hero__media svg:nth-of-type(3) {
  bottom: -15px;
  flex-shrink: 0;
  right: 60px;
  transform: rotate(180deg);
}

.hero__media svg:last-child {
  bottom: -40px;
  left: 100px;
}

.hero__img:first-child {
  top: 0;
  left: 0;
}

.hero__img:nth-child(2) {
  bottom: 0;
  left: 220px;
}

.hero__img:last-child {
  right: 0px;
}

/* Logo-section */

.logo-section {
  margin-top: 72px;
}

.main__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 76px 122px;
  background: #e2eddf;
  border-radius: 100px;
}

.main__logo span:hover {
  opacity: 0.9;
}

.main__logo-google {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 51px;
}

.main__logo-google span {
  color: var(--color-primary);
  font-size: 3.1rem;
  font-weight: 500;
}

.main__logo-slack {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 51px;
}

.main__logo-slack span {
  padding-left: 5px;
  color: var(--color-primary);
  font-size: 3.2rem;
  font-weight: 600;
}

.main__logo-agworld {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 51px;
}

.main__logo-agworld span {
  padding-left: 11px;
  color: #163c35;
  font-size: 2.6rem;
  font-weight: 400;
}

.main__logo-riotinto span {
  font-family: "Sonsie One", system-ui;
  color: var(--color-primary);
  font-size: 23px;
  font-weight: 400;
}

.main__logo-heroku {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 51px;
}

.main__logo-heroku span {
  color: var(--color-primary);
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

/* Service */
.service {
  margin-top: 106px;
}

.service__top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 85px;
}

.service__top-left {
  width: 55%;
}

/* Service top right */

.service__top-right {
  display: flex;
  justify-content: center;
  column-gap: 17px;
}

.control__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #e2eddf;
  color: var(--color-secondary);
  border-radius: 50%;
  border: 1.5px #e2eddf solid;
  transition: 0.3s;
  outline: none;
}

.control__btn:hover {
  background: var(--color-primary);
  color: #fff;
  border-color: var(--color-primary);
  cursor: pointer;
}

/* Service list */
.service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}

.service-item__thumb {
  width: 100%;
  height: 318px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.service-item:hover {
  background: white;
  box-shadow: -6px 9px 64px -4px rgba(117.94, 117.94, 117.94, 0.25);
  border-radius: 20px;
  transform: translateY(-20px);
  transition: 0.3s;
}

.service-item__body {
  margin-top: 24px;
  width: 268px;
  margin-bottom: 23px;
  margin-left: 18px;
}

.service-item__heading {
  color: #152427;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
}

.service-item__desc {
  margin-top: 18px;
  color: #7d8188;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7;
}
